<!DOCTYPE html>
<html>
<head>
	<title>Text To Speech API</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<form method="post" action="">
				{% csrf_token %}
				<div class="form-group">
					<label for="conversion_text">Converted Language</label>
					<select class="form-control" name="conversion_lang" id="conversion_lang" required="required">
						{% for key, value in language_list %}
							<option {% if selected_lang == key %} selected="selected" {% endif %} value="{{key}}">{{value}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="conversion_text">Input Text</label>
					<textarea class="form-control" id="conversion_text" name="conversion_text" required="required" rows="5">{{conversion_text}}</textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			{% if conversion_status %}
				<div style="margin-top: 20px;">
					<p>Saved Path : <a href="{{saved_path}}" target="_blank">{{saved_path}}</a></p>
				</div>
			{% endif %}
		</div>
	</div>
</body>
</html>