<!DOCTYPE html>
<html>
<head>
	<title>Text To Speech API</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			
			<h2 class="text-center">Text to Speech Conversion</h2>

			<div class="text-right">
				<a href="/" class="btn btn-sm btn-primary">Back</a>
			</div>

			{% if conversion_status %}
				<div class="alert alert-success" style="margin-top: 5px">
					<p>Speech translation is successfull.</p>
				</div>
			{% endif %}

			<div class="form-group">
				<label for="conversion_text">Converted Language : </label>
				<span>{{selected_lang}}</span>
			</div>
			<div class="form-group">
				<label for="conversion_text">Saved Path : </label>
				{% if conversion_status %}
					<span><a href="{{saved_path}}" target="_blank">{{saved_path}}</a></span>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="conversion_text">Input Text : </label>
				<span>{{conversion_text}}</span>
			</div>

		</div>
	</div>
</body>
</html>